{% extends 'base.html' %}

{% block body %}

<body id="body" class="page-search page-search-results">
   {% include "_navbar.html" %}


   {% block head_navigation %}
   <link rel="start" href="/">
   {% endblock head_navigation %}

   {% block jumbotron %}

   <div class="jumbotron">
      <form class="container form-total-loading " method='GET' action="/recherche">
         <div class="input-group">
            <span class="input-group-btn">
               <button class="search-addon" type="submit" title="Effectuer une recherche sur « L'avenir en commun »">
                  <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  <span class="sr-only">Rechercher</span>
               </button>
            </span>
            <input type="text" name="q" autocomplete="off" class="search-terms form-control instant-search"
               value="{{ request|title|truncatechars:20 }}">
         </div>
         <p class="sidelines" aria-hidden="true">
            <i class="fa fa-search"></i>
         </p>
         <span class="search-results-count"
            data-prototype="<strong>__total__</strong> occurence__plural__ pour « <strong>__query__</strong> » dans « {{ site_long_name }} »">
            {% if not query %}<i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i> Pourquoi ne pas
            essayer
            ci-dessus des termes tels que <strong class="suggestion">partage</strong>, <strong class="suggestion">écologie</strong>, <strong class="suggestion">bonheur</strong>, <strong class="suggestion">santé</strong>, <strong class="suggestion">industrie</strong>, <strong class="suggestion">économie</strong>, <strong class="suggestion">planification</strong>, <strong class="suggestion">transition</strong>, <strong class="suggestion">indépendance</strong>, <strong class="suggestion">Europe</strong>, <strong class="suggestion">finance</strong>, <strong class="suggestion">protectionnisme</strong>, <strong class="suggestion">laïcité</strong>, <strong class="suggestion">coopération</strong>, etc. {% else %} Nous avons trouvé
            <strong>{{ query|length }}</strong>
            {%if query|length > 1 %} occurences {% else %} occurences {% endif %} pour « <strong>{{ request|title }}</strong> » dans « L'Avenir En Commun ».{% endif %}</span>
      </form>
   </div>
   {% endblock jumbotron %}

   {% block main_content %}
   <div class="wrap-container-main">
      <div class="container container-main">

         <div class="row">
            {% include '_searchsidebar.html' %}
            <article class="col-md-8 col-md-pull-4 main-content-container" id="contenu" role="main">
               <h1 class="h3">

                  <i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i> Liste des résultats
               </h1>
               <hr>

               {% if not query%}
                  <p class="lead no-search">
                     Pour commencer à rechercher dans le programme, merci de saisir les termes de votre recherche ci-dessus
                  </p>
               {% endif %}
               <p class="lead no-results {% if  query or query|length != 0 %} hidden{% endif %}">
                  Votre requête n'a produit aucun résultat. Merci d'en vérifier l'orthographe ou d'essayer de la
                  formuler
                  différemment.
               </p>

               <ul id="resultats" class="list-group search-results">
                 
                  {% for result in query %}
                  <li class="list-group-item">
                  {% include './result.html' %}
                  </li>
                  {% endfor %}
                
               </ul>

               <p class="sidelines" aria-hidden="true">
                  <i class="fa fa-fw fa-search"></i>
               </p>
            </article>
         </div>
      </div>
   </div>
   {% endblock main_content %}


   {% include '_footer.html' %}
   <script src="/static/app.js"></script>
   <div class="total-loading-backdrop">
      <div class="loading-animation">
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
      </div>
   </div>
</body>

</html>
{% endblock body %}