{% extends 'base.html' %}
{% block html_class %}page-section theme-chapter-{{subject.chapter.number}} {% endblock %}
{% block body %}

<body id="body">
   <div class="visible-print-block text-center print-logotype" aria-hidden="true">
      <img src="/img/logotype/livre-phi-laec-fr-mention-impression.svg" style="max-height: 70px; width: auto;"
         alt="Logotype l'avenir en commun" data-no-svg-src="/img/logotype/livre-phi-laec-fr-mention-impression.png" />
      <hr>
      <small>Le programme de la
         <strong>France insoumise</strong>
      </small>
   </div>
   {% include "_navbar.html" %}

   <div class="theme-chapter-{{subject.chapter.number}} jumbotron" aria-hidden="true">
      <div class="container">
         <h1>
            <span class="number">{{subject.number}}</span>
            <span class="alternate">{{ subject.chapter.main_title }}</span>
            <b class="text-balance">{{subject.title}}</b>
         </h1>
         <p class="sidelines">
            <i class="fa fa-institution"></i>
         </p>
         <a rel="contents" data-load-display href="/chapitre/{{subject.chapter.number}}/{{subject.chapter.slugify}}">
            <i class="fa fa-fw fa-arrow-left"></i>
            <span class="hidden-xs"> Index du chapitre</span>
         </a>
      </div>
   </div>
   <div class="wrap-container-main">
      <div class="container container-main">
         <noscript class="visible-no-js small text-muted">
            <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Je n'ai pas activé le javascript,
            <a href="/page/le-javascript-c-est-non"
               title="Informations sur les fonctionnalités de LAEC.fr nécessitant l'utilisation de javascript">qu'est-ce
               que je manque</a> ?
         </noscript>
         <div class="row">
            {% include '_sectionsidebar.html' %}
            <article class="col-md-8 col-md-pull-4 main-content-container" id="contenu" role="main">
               <section class="actions actions-s">
                  {% include '_partager.html' %}
               </section>
                  <hr>
                  <section class="content-text parsedown">
                     <div class="subject-body">
                         {{ subject.content |  safe }}
                     </div>
                 </section>
                 <a href="#body" id="back-to-top" data-do-scroll-to="800" title="Retour en haut de la page"><i class="fa fa-arrow-up" aria-hidden="true"></i><span> Retour en haut de page</span></a>

         </div>
      </div>
   </div>

   {% include '_footer.html' %}

   <script src="/static/app.js"></script>
</body>
{% endblock %}